@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    height: 100vh;
    width: 100vw;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "Istok Web", sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.background{
    background: url(imagens/background-roxo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 860px;
}
header{
    padding: 20px 40px;
    width: 100%;
    height: 20%;
    background: linear-gradient(1deg, transparent 20%, rgba(0, 0, 0, 0.776));
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-top: 5px;
    margin-left: 25px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 10px;
}
li{
    cursor: pointer;
    list-style-type: none;
}
a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.search{
    cursor: pointer;
    border-radius: 999px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-top{
    width: 80%;
    height: 65%;
    display: flex;
    color: white;
    margin: auto;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}
.h1-section-box{
    width: 70%;
}
#h1-section{
    width: 100%;
    font-size: 60px;
    line-height: 60px;
}
.lorens-section{
    width: 90%;
    display: grid;
    gap: 30px;
    grid-template-columns: 300px 300px;
}
.loren-section-boxs{
    background-color: black;
    font-size: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.lorens-section-baixo{
    text-align: start;
}
.lorens-section-cima{
    padding: 30px ;
}

.btns-section{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.itens-btn{
    width: 50%;
    display: flex;
    align-items: center;
}
.itens-btn > span{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
.itens-btn > a > img{
    margin-top: 5px; 
    padding: 10px;
    border-radius: 999px;
    background-color: black;
    cursor: pointer;
}
.duvidas-btn > button{
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}
.duvidas-btn > button > span {
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.article-refri{
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.article-left{
    width: 40%;
}
.article-left > p{
    font-size: 32px;
    width: 90%;
}
.article-right{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
}
.section-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}
.section-list-titles{
    text-align: center;
    padding: 50px 10px 20px 10px;
    margin-top: 90px;
}
.section-list-titles > h2{
    font-size: 60px;
    font-weight: bold;
}
.section-list-titles > h3{
    font-size: 18px;
    color: #b2b2b2;
    font-weight: 400;
}
.section-list-left{
    width: 50%;
    display: flex;
    justify-content: center;
}
.section-list-left > img{
    object-fit: cover;
}
.section-list-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 10px 0px 30px 50px;

}
.btns-section-righ{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#btn-2023{
    padding: 10px 23px;
    border-radius: 100px;
    font-weight: 800;
    text-align: center;
    color: white;
    background-color: #706ef4;
    cursor: pointer;
    border: 1px solid #706ef4;
}
#anos-ant-btn{
    margin-left: 20px;
    text-align: center;
    padding: 10px 30px;
    color: #706ef4;
    font-weight: 800;
    cursor: pointer;
    border: 1px solid #706ef4;
    border-radius: 100px;
    background-color: white;
}
.ul-section-box{
    display: flex;
    justify-content: start;
    width: 80%;
}
.ul-section{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.ul-section > li{
    border-bottom: 3px solid #706ef4;
    width: 90%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    padding-bottom: 10px;
}
.ul-section > li > span{
    margin-left: 15px;
}
.itens-btn{
    margin-top: 50px;
}
.title-videos{
    padding: 40px 0px 40px 0px;
    margin-top: 100px;
}
.title-videos > h2{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}